<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body class="login-body">

<div class="login-card">

<img src="/static/images/logo.png" class="logo">

<h2>Student Skill Sharing Platform</h2>

<form method="POST">

<input type="text" name="username" placeholder="Username" required>

<input type="password" name="password" placeholder="Password" required>

<div class="form-buttons">

<a href="/welcome" class="btn cancel">Cancel</a>

<button type="submit" class="btn">Login</button>

<a href="/signup" class="btn">Signup</a>

<a href="#" class="btn forgot">Forgot Password</a>

</div>

</form>

</div>

</body>
</html>